.card-data{

}
.card-data-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
}
.card-data-container:hover{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
    transition: all 0.3s linear;
}
.card-data-image{
    width: 100%;
    height: 200px;
    padding: 1rem;
}


.card-data-image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.card-data-discount{
    background-color: var(--background-color1);
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.card-data-discount p{
    font-family: var(--font-family);
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.card-data-preview{
   color: white;
   text-align: center;
   width: 100%;
   height: 50px;
   background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.3s linear;
}
.card-data-container:hover .card-data-preview{
    background-color: var(--background-color1);
    cursor: pointer;
    transition: all 0.3s linear;
  
}
.card-data-preview h1{
    font-family: var(--font-family);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}
.card-data-details{
    text-align: center;
    margin-top: 1rem;
 
}
.card-data-details h1{
    font-family: var(--font-family);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    height: 45px;
 
}
.card-data-details p{
    font-family: var(--font-family);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
 
}
.card-data-amount{
    margin: 0.5rem 0 1rem;
}
.card-data-amount p{
    font-family: var(--font-family);
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: red;
    
}
.card-data-amount span{
    color: gray;
    text-decoration: line-through;
    margin-left: 0.5rem;
}
.card-data-cta{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.wishlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(126, 126, 126);
    font-size: 16px;
    height: 40px;
    padding: 0 0.8rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.3s linear;
}

.wishlist:hover{
    background-color: var(--background-color1);
}
.wishlist:hover .card-icon{
    color: white;
}
.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(126, 126, 126);
    height: 40px;
    padding: 0 1rem;
    cursor: pointer;
    transition: all 0.3s linear;
}
.cart:hover{
    background-color: var(--background-color1);
}
.cart:hover p{
    color: white;
}
.cart:hover .card-icon{
    color: white;
}
.cart p{
    font-family: var(--font-family);
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    margin-left: 6px;
}

@media screen and (max-width: 1200px) {
    .card-data{

    }
    .card-data-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 0;
    }
    .card-data-container:hover{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
        transition: all 0.3s linear;
    }
    .card-data-image{
        width: 100%;
        padding: 1rem;
    }
    
    
    .card-data-image img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .card-data-discount{
        background-color: var(--background-color1);
        width: 45px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }
    .card-data-discount p{
        font-family: var(--font-family);
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        color: white;
    }
    .card-data-preview{
       color: white;
       text-align: center;
       width: 100%;
       height: 50px;
       background-color: white;
       display: flex;
       justify-content: center;
       align-items: center;
       transition: all 0.3s linear;
    }
    .card-data-container:hover .card-data-preview{
        background-color: var(--background-color1);
        cursor: pointer;
        transition: all 0.3s linear;
      
    }
    .card-data-preview h1{
        font-family: var(--font-family);
        margin: 0;
        font-size: 16px;
        font-weight: 400;
    }
    .card-data-details{
        text-align: center;
        margin-top: 1rem;
    }
    .card-data-details p{
        font-family: var(--font-family);
        margin: 0 0 0.5rem;
        font-size: 16px;
        font-weight: 400;
     
    }
    .card-data-amount{
        margin: 0.5rem 0 1rem;
    }
    .card-data-amount p{
        font-family: var(--font-family);
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        color: red;
        
    }
    .card-data-amount span{
        color: gray;
        text-decoration: line-through;
        margin-left: 0.5rem;
    }
    .card-data-cta{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .wishlist{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(126, 126, 126);
        font-size: 16px;
        height: 35px;
        padding: 0 0.8rem;
        margin-right: 0.5rem;
        cursor: pointer;
        transition: all 0.3s linear;
        color: var(--color);
    }
    
    .wishlist:hover{
        background-color: var(--background-color1);
    }
    .wishlist:hover .card-icon{
        color: white;
    }
    .cart{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(126, 126, 126);
        height: 35px;
        padding: 0 1rem;
        cursor: pointer;
        transition: all 0.3s linear;
        color: var(--color);
    }
    .cart:hover{
        background-color: var(--background-color1);
    }
    .cart:hover p{
        color: white;
    }
    .cart:hover .card-icon{
        color: white;
    }
    .cart p{
        font-family: var(--font-family);
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        margin-left: 6px;
        color: var(--color);
    }
    .card-icon{
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    .card-data{

    }
    .card-data-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0;
    }
    .card-data-container:hover{
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
        transition: all 0.3s linear;
    }
    .card-data-image{
        width: 100%;
        padding: 0 1rem;
    }
    .card-data-image img{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .card-data-discount{
        background-color: var(--background-color1);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }
    .card-data-discount p{
        font-family: var(--font-family);
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        color: white;
    }
    .card-data-preview{
       color: white;
       text-align: center;
       width: 100%;
       height: 40px;
       background-color: white;
       display: none;
       justify-content: center;
       align-items: center;
       transition: all 0.3s linear;
    }
    .card-data-container:hover .card-data-preview{
        background-color: var(--background-color1);
        cursor: pointer;
        transition: all 0.3s linear;
      
    }
    .card-data-preview h1{
        font-family: var(--font-family);
        margin: 0;
        font-size: 15px;
        font-weight: 400;
    }
    .card-data-details{
        text-align: center;
        margin-top: 1rem;
    }
    .card-data-details p{
        font-family: var(--font-family);
        margin: 0 0 0.5rem;
        font-size: 14px;
        font-weight: 400;
     
    }
    .card-data-amount{
        margin: 0.5rem 0 1rem;
    }
    .card-data-amount p{
        font-family: var(--font-family);
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        color: red;
        
    }
    .card-data-amount span{
        color: gray;
        text-decoration: line-through;
        margin-left: 0.5rem;
    }
    .card-data-cta{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }
    .wishlist{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(126, 126, 126);
        font-size: 12px;
        height: 35px;
        padding: 0 0.5rem;
        margin-right: 0.5rem;
        cursor: pointer;
        transition: all 0.3s linear;
    }
    
    .wishlist:hover{
        background-color: var(--background-color1);
    }
    .wishlist:hover .card-icon{
        color: white;
    }
    .cart{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(126, 126, 126);
        height: 35px;
        padding: 0 0.5rem;
        cursor: pointer;
        transition: all 0.3s linear;
    }
    .cart:hover{
        background-color: var(--background-color1);
    }
    .cart:hover p{
        color: white;
    }
    .cart:hover .card-icon{
        color: white;
    }
    .cart p{
        font-family: var(--font-family);
        margin: 0;
        font-size: 10px;
        font-weight: 400;
        margin-left: 6px;
    }
}