.topcollection-collection{
    border: 1px solid transparent;
    padding: 1rem 0.5rem;
}
.top-collection-bottom{
    box-sizing: border-box;
    padding: 0 !important;
    border: 1px solid var(--border-color);
}
.topcollection-collection:hover{
    border: 1px solid var(--background-color1);
}
.topcollection-image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topcollection-image img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.topcollection-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.topcollection-text p{
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 400;
    max-width: 100%;
    color: var(--color);
}
@media screen and (max-width: 500px) {
    .topcollection-collection{
        border: 1px solid transparent;
        padding: 1rem 0.5rem;
    }
    .top-collection-bottom{
        box-sizing: border-box;
        padding: 0 !important;
        border: 1px solid var(--border-color);
    }
    .topcollection-collection:hover{
        border: 1px solid var(--background-color1);
    }
    .topcollection-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topcollection-image img{
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    .topcollection-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .topcollection-text p{
        font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
    color: var(--color);
    }
}