.qualities{
    padding: 2rem 6rem;
}
.qualities-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border: 1px solid var(--border-color);
}
.quality1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid var(--border-color);
    padding: 0 2rem ;
}
.quality1:last-child{
    border-right: 0;
}
.quality1 img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.quality1 p{
    font-family: var(--font-family);
    margin: 0;
    font-size: 14px;
    max-width: 100%;
    line-height: 19px;
    font-weight: 400;
    margin-left: 1.5rem;
}

@media screen and (max-width: 1200px) {
    .qualities{
        padding: 2rem 3rem;
    }
    .qualities-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
        border: 1px solid var(--border-color);
    }
    .quality1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-right: 1px solid var(--border-color);
        padding: 0 1rem ;
    }
    .quality1:last-child{
        border-right: 0;
    }
    .quality1 img{
        width: 35px;
        height: 35px;
        object-fit: cover;
    }
    .quality1 p{
        font-family: var(--font-family);
        margin: 0;
        font-size: 12px;
        max-width: 100%;
        line-height: 19px;
        font-weight: 400;
        margin-left: 1rem;
    }
}
@media screen and (max-width: 800px) {
    .qualities{
        padding: 2rem 1rem 0rem;
    }
    .qualities-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        padding: 1rem ;
        border: 1px solid var(--border-color);
    }
    .quality1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-right: 1px solid var(--border-color);
        padding: 0 2.5rem ;
    }
    .quality1:nth-child(2){
        border-right: none;
    }
    .quality1:last-child{
        border-right: 0;
    }
    .quality1 img{
        width: 45px;
        height: 45px;
        object-fit: cover;
    }
    .quality1 p{
        font-family: var(--font-family);
        margin: 0;
        font-size: 13px;
        max-width: 200px;
        line-height: 19px;
        font-weight: 400;
        margin-left: 1rem;
    }
}
@media screen and (max-width: 500px) {

    .qualities-container{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0px;
        padding: 0rem 0;
        border: 1px solid var(--border-color);
    }
    .quality1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border-right: 0;
        border-bottom: 1px solid var(--border-color);
        padding: 1.5rem 2rem;
    }
    .quality1:nth-child(2){
        border-right: none;
    }
    .quality1:last-child{
        border-right: 0;
        border-bottom: 0;
    }
    .quality1 img{
        width: 45px;
        height: 45px;
        object-fit: cover;
    }
    .quality1 p{
        font-family: var(--font-family);
        margin: 0;
        font-size: 14px;
        max-width: 200px;
        line-height: 19px;
        font-weight: 400;
        margin-left: 1rem;
    }
}